<div class="panel panel-default">
    <div class="panel-heading">
        Ocena ko&#324;cowa nastroju
    </div>
    <div class="panel-body">
        <div class="row mood">
            <div class="container">
                <div class="col-md-4 text-center">
                    <label class="mood-last like-it-not">
                        <input ng-model="vm.data.moodLast" type="radio" name="moodLast" value="like-it-not"/>

                        <div class="pointer"></div>
                    </label>
                </div>

                <div class="col-md-4 text-center">
                    <label class="mood-last so-so">
                        <input ng-model="vm.data.moodLast" type="radio" name="moodLast" value="so-so"/>

                        <div class="pointer"></div>
                    </label>
                </div>

                <div class="col-md-4 text-center">
                    <label class="mood-last like-it">
                        <input ng-model="vm.data.moodLast" type="radio" name="moodLast" value="like-it"/>

                        <div class="pointer"></div>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <a class="btn btn-primary" href="/#/scorm/klasa/{{vm.data.classId}}">Powr&#243;t</a>
        <a class="btn btn-primary" ui-sref="scorm-form">Dalej</a>
    </div>
</div>