<!DOCTYPE html>
<html data-ng-app="app" ng-cloak>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>YDP/HARIMATA</title>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
          type="text/css"/>
    <link href="app/assets/theme/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="app/assets/theme/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="app/assets/theme/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="app/assets/theme/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
    <link href="app/assets/theme/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet"
          type="text/css"/>

    <link href="app/assets/theme/global/css/components.css" rel="stylesheet" type="text/css"/>
    <link href="app/assets/theme/global/css/plugins.css" rel="stylesheet" type="text/css"/>
    <link href="app/assets/theme/admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
    <link id="style_color" href="app/assets/theme/admin/layout/css/themes/default.css" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" type="text/css" href="bower_components/angular-toastr/dist/angular-toastr.min.css"/>
    <!--<link rel="stylesheet" type="text/css" href="bower_components/angular-ui-utils/" />-->
    <link rel="stylesheet" href="bower_components/fullcalendar/fullcalendar.css"/>
    <link href="app/assets/theme/admin/layout/css/custom.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="app/css/animate/animate.css"/>
    <link rel="stylesheet" href="/bower_components/angular-chart.js/dist/angular-chart.css">

    <link href="app/css/main.css" rel="stylesheet">
    <link href="app/css/button.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="bower_components/html5shiv/dist/html5shiv.js"></script>
    <script src="bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->

    <!--<base href="/">-->
</head>

<body>

<div id="main">
    <div id="header">
        <div class="logo">YDP/Harimata</div>


        <ul class="nav navbar-nav pull-right">
            <li class="dropdown dropdown-user">
                <a href="javascript:;" style="color: #9F9F9F;"
                   class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                   data-close-others="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-user"></span>
                        <span class="username username-hide-on-mobile">
                            {{oauth2.login}}
                        </span>
                    <i class="fa fa-angle-down"></i>
                </a>

                <ul ng-if="oauth2.login" class="dropdown-menu dropdown-menu-default">
                    <li>
                        <a ui-sref="scorm">
                            <i class="icon-rocket"></i> Lekcie LPC
                            <span class="badge badge-primary">3</span>
                        </a>
                        <!--<a ui-sref="mood-first">-->
                            <!--<i class="icon-rocket"></i> KROK 2: Ocena ogólnego nastroju-->
                        <!--</a>-->
                        <!--<span>Wybrana lekcja</span>-->
                        <!--<a ui-sref="mood-last">-->
                            <!--<i class="icon-rocket"></i> KROK 3: Ocena końcowa nastroju-->
                        <!--</a>-->
                        <!--<a ui-sref="scorm-form">-->
                            <!--<i class="icon-rocket"></i> KROK 4: Formularz-->
                        <!--</a>-->
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                        <a href="#" ng-click="logout()">
                            <i class="icon-key"></i> Wyloguj </a>
                    </li>
                </ul>

                <ul ng-if="!oauth2.login" class="dropdown-menu dropdown-menu-default">
                    <li>
                        <a ui-sref="login">
                            <i class="icon-key"></i> Zaloguj </a>
                    </li>
                </ul>
            </li>
        </ul>


        <!--<span class="logo"><span class="glyphicon glyphicon-user"></span>  {{oauth2.login}}</span>-->
        <!--<button ng-click="logout()" class="btn btn-xs btn-default" style="margin: 12px 0 0 10px;">Log Out</button>-->

    </div>
    <!--<count-watchers></count-watchers>-->
    <!--<button class="btn btn-primary pull-right" ui-sref="login" style="margin: 7px;">Log-in</button>-->
</div>

<div id="center">
    <div class="container">

        <!--Form object-->
        <form-data></form-data>

        <section>
            <div class="page-container">
                <div class="page-content-wrapper">
                    <div ui-view
                         class="page-content-example-ui">
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>

<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-mocks/angular-mocks.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/angular-translate-loader-url/angular-translate-loader-url.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
<script src="bower_components/fullcalendar/fullcalendar.js"></script>
<script src="bower_components/angular-ui-calendar/src/calendar.js"></script>
<script src="bower_components/angular-cookie/angular-cookie.js"></script>
<script src="bower_components/ng-token-auth/dist/ng-token-auth.js"></script>
<script src="bower_components/Chart.js/Chart.js"></script>
<script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
<script src="bower_components/angular-breadcrumb/release/angular-breadcrumb.js"></script>
<script src="bower_components/respond/dest/respond.src.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/angular-moment/angular-moment.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/oclazyload/dist/ocLazyLoad.min.js"></script>
<script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
<script src="bower_components/angular-ui-utils/ui-utils.js"></script>
<script src="bower_components/tv4/tv4.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/objectpath/lib/ObjectPath.js"></script>
<script src="bower_components/angular-schema-form/dist/schema-form.js"></script>
<script src="bower_components/angular-schema-form/dist/bootstrap-decorator.js"></script>
<script src="bower_components/lodash/dist/lodash.compat.js"></script>
<script src="bower_components/angular-lodash/angular-lodash.js"></script>
<script src="bower_components/angular-smart-table/dist/smart-table.js"></script>
<script src="bower_components/query-string/query-string.js"></script>
<script src="bower_components/angular-oauth2/dist/angular-oauth2.js"></script>
<script src="bower_components/ngstorage/ngStorage.js"></script>
<!-- endbower -->


<!-- i18n -->
<!-- nl -->
<script src="https://code.angularjs.org/1.0.3/i18n/angular-locale_nl-nl.js"></script>


<!--Harimata-->
<script src="app/scripts/harimataBundle.js"></script>

<!-- AngularJS app files -->

<!-- blocks -->
<script src="app/modules/app.js"></script>
<script src="app/modules/core/core.oauth2.js"></script>
<script src="app/modules/core/config.js"></script>

<script src="app/modules/core/core.module.js"></script>
<script src="app/modules/core/common.js"></script>
<script src="app/modules/blocks/logger/logger.js"></script>

<!--tools-->
<script src="app/modules/tools/tools.js"></script>
<script src="app/modules/components/components.module.js"></script>
<script src="app/modules/components/formData.js"></script>

<!--Integration-->
<script src="app/modules/integration/integration.js"></script>

<!--Login-->
<script src="app/modules/login/config.js"></script>
<script src="app/modules/login/login.module.js"></script>
<script src="app/modules/login/login.js"></script>

<!--Users-->
<script src="app/modules/users/config.js"></script>
<script src="app/modules/users/users.module.js"></script>
<script src="app/modules/users/users.js"></script>
<script src="app/modules/users/userDetails.js"></script>

<!--Scorm-->
<script src="app/modules/scorm/config.js"></script>
<script src="app/modules/scorm/scorm.module.js"></script>
<script src="app/modules/scorm/scorm.js"></script>


<!--Results-->
<script src="app/modules/results/config.js"></script>
<script src="app/modules/results/results.module.js"></script>
<script src="app/modules/results/results.js"></script>

<!--Mood-->
<script src="app/modules/mood/config.js"></script>
<script src="app/modules/mood/mood.module.js"></script>
<script src="app/modules/mood/mood.js"></script>

<!-- end AngularJS app files -->

</body>

</html>