/*
  We're using CSS transitions for when
  the enter and move events are triggered
  for the element that has the .repeated-item
  class
*/
.repeated-item.ng-enter,
.repeated-item.ng-move {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
  opacity: 0;
}
/*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/
.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-move.ng-move-active {
  opacity: 1;
}
/*
  We're using CSS keyframe animations for when
  the leave event is triggered for the element
  that has the .repeated-item class
*/
.repeated-item.ng-leave {
  -webkit-animation: 0.5s my_animation;
  -moz-animation: 0.5s my_animation;
  -o-animation: 0.5s my_animation;
  animation: 0.5s my_animation;
}
@keyframes my_animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/*
  Unfortunately each browser vendor requires
  its own definition of keyframe animation code...
*/
@-webkit-keyframes my_animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes my_animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes my_animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.sample-show-hide {
  padding: 10px;
  border: 1px solid black;
  background: white;
}
.sample-show-hide {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.sample-show-hide.ng-hide {
  opacity: 0;
}
.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}
.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50% !important;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 2s infinite ease-in-out;
  animation: bounce 2s infinite ease-in-out;
}
.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.loading-text {
  position: absolute;
  top: 46px;
  left: -3px;
  width: 100px;
  color: #333;
}
@-webkit-keyframes bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
body {
  background: #fff;
}
a {
  color: #9F9F9F;
}
iframe {
  width: 100%;
  height: 780px;
  border: 0;
}
.container {
  width: 100%;
}
#header {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  background: #f9f9f9;
  color: #fff;
}
#sidebar {
  height: 100%;
  position: fixed;
  z-index: 2;
  top: 50px;
  background: #2d353c;
  width: 220px;
}
#center {
  float: left;
  margin-top: 70px;
  width: 100%;
}
.action-top-bar {
  padding-top: 10px;
  padding-bottom: 10px;
}
.logo {
  float: left;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10px;
  color: #9F9F9F;
}
.logo .btbw {
  color: #E65848;
}
.sidebar-menu {
  padding: 0;
  margin: 0;
  min-height: 700px;
  float: left;
  width: 100%;
}
.sidebar-menu a {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  display: block;
  width: 100%;
  color: #a8acb1;
}
.sidebar-menu a.active,
.sidebar-menu a:hover {
  text-decoration: none;
  background: #232A2F;
  color: #fff;
}
.panel-default > .panel-heading .badge {
  color: #fff;
  background-color: #BFBFBF;
}
.page-container {
  margin-top: 20px;
}
.btn-group button {
  margin: 0 10px;
}
.mr20 {
  margin-right: 20px;
}
.mr20 label {
  position: relative;
}
.mr20 input {
  position: absolute !important;
  top: -2px;
}
.mr20 span {
  margin-left: 16px;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.padding-right {
  padding-right: 10px;
}
.padding-bottom {
  padding-bottom: 10px;
}
.padding-left {
  padding-left: 10px;
}
.title {
  margin-bottom: 50px;
}
/* Custom page footer */
.footer {
  position: fixed;
  width: 100%;
  padding: 10px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  text-align: center;
  bottom: 0;
  margin-top: 20px;
}
/* seat reservation */
.content {
  text-align: center;
}
.seatLayout {
  margin: 30px auto;
}
.seat {
  cursor: pointer;
}
.buttons {
  margin: 30px auto;
}
.legend img {
  vertical-align: bottom;
}
.mood {
  background-repeat: no-repeat;
}
.mood label > input {
  /* HIDE RADIO */
  display: none;
}
.mood label > input:checked + .pointer {
  /* (CHECKED) IMAGE STYLES */
  background: #89BEEA;
  opacity: 0.2;
}
.mood .pointer {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.mood .mood-first {
  background-image: url('../img/rys_1.png');
  width: 134px;
  height: 147px;
}
.mood .mood-first.joyful {
  background-position: 2px 0px;
}
.mood .mood-first.interested {
  background-position: -156px 0px;
}
.mood .mood-first.calm {
  background-position: -316px 0px;
}
.mood .mood-first.worried {
  background-position: -458px 0px;
}
.mood .mood-first.sad {
  background-position: 8px -159px;
}
.mood .mood-first.bored {
  background-position: -153px -159px;
}
.mood .mood-first.upset {
  background-position: -319px -159px;
}
.mood .mood-first.sleepy {
  background-position: -456px -159px;
}
.mood .mood-last {
  background-image: url('../img/rys_2.png');
  width: 174px;
  height: 212px;
}
.mood .mood-last.like-it-not {
  background-position: 2px 0px;
}
.mood .mood-last.so-so {
  background-position: -187px 0px;
}
.mood .mood-last.like-it {
  background-position: -361px 0px;
}
.portlet-full-screen {
  position: absolute;
  top: -91px;
  left: -20px;
  width: 103%;
  z-index: 1;
}
