<form name="form" role="form">
    <fieldset>

        <!-- Text input-->
        <div class="form-group">
            <label class="control-label" for="gender">Płeć</label>

            <div class="controls">
                <select ng-model="vm.data.form.gender" id="gender" class="form-control">
                    <option>Kobieta</option>
                    <option>Mężczyzna</option>
                </select>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="control-label" for="age">Podaj wiek</label>

            <div class="controls">
                <input ng-model="vm.data.form.age" id="age" name="age" type="number" placeholder="Podaj wiek" class="form-control">
            </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="control-label" for="device">Urządzenie</label>

            <div class="controls">
                <select ng-model="vm.data.form.device" id="device" name="device" class="form-control">
                    <option>Komputer</option>
                    <option>Tablet</option>
                    <option>Telefon</option>
                </select>
            </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
            <label class="control-label" for="age">Dysfunkcja</label>

            <div class="controls">
                <textarea ng-model="vm.data.form.disfunction" class="form-control" rows="5"></textarea>
            </div>
        </div>
    </fieldset>

    </div>
</form>