.pict_zoom{
	padding: 25px 10px 25px 35px;
	background: rgba(0, 0, 0, 0.0) url(arr6.png) no-repeat;
	color: black;
	margin-top: 20px;
	font-size:1.1em;
}

.pict_zoom .title{
    color: #fff;
    font-weight: bold;
    font-size:1.2em;
    margin-bottom: 5px;
}

.pict_zoom .qp-img-container {
    position: relative;
}   

/**
.pict_zoom .qp-img-title {
    background: none repeat scroll 0 0 transparent;
    color: #000000;
    font-weight: bold;
    padding: 0;
    position: relative;
}**/

.pict_zoom img{
   border-style: none;
}
